.header-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 2rem;
}

.header-logo {
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 2rem;
}
@media screen and (max-width:57.25rem) {
  .header-navigation{
    flex-direction: column;
  }
  .header-logo h2{
    text-align: center;
    margin: 1rem auto;
  }
}

.navigation-items a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 20%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0.5rem 3.5rem;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  transition: background-position 0.3s ease-in-out;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (max-width:41.063rem){
  .navigation-items a {
    font-size:1.5rem;
    padding: 1rem;
    font-weight: 800;
  }
  .header-logo{
    margin-top:1.5rem;
    font-size:1.6rem;
  }
}
@media screen and (max-width:27.875rem){
  .navigation-items a{
    font-size:1rem;
  }
}

.navigation-items a::before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s ease-in-out;
}

.navigation-items a:hover {
  background-position: 0;
}

.navigation-items a:hover::before {
  width: 100%;
}
